.wrapper {
    font-family: "Open Sans", Arial, sans-serif;
}

.header {
  margin-left: 10%;
  margin-right: 10%;
}

.menu {
  position: relative;
}

.content-menu {
  display: inline-block;
  width: max-content;
  font-weight: bold;
}

.active {
  color: #007bff;;
}

.menu-parent {
  display: inline-block;
  font-size: 13px;
  padding-top: .9rem;
  padding-bottom: .9rem;
  padding-left: 20px;
  padding-right: 20px;
}

.menu-parent:hover {
  background-color: aliceblue;
  border-radius: 10%;
}

.menu-parent:hover .sub-menu{
  visibility: visible;
}


.left-menu {
  display: inline-block;
  width: 15%;
}

.center-menu {
  display: inline-block;
  min-width: 60%;
}

.right-menu {
  display: inline-block;
  min-width: 5%;
}

.logo {
  display: inline-block;
  width: 30%;
}

.sub-menu {
  position: absolute;
  padding: 0px;
  min-width: 10%;
  margin-top: .9rem;
  margin-left: -20px;
  width: fit-content;
  visibility: hidden;
}
.sub-menu li {
  list-style: none;
  padding-left: 20px;
  min-height: 25px;
  line-height: 2;
  padding-right: 20px;
  position: relative;
}

.sub-menu li span{
  margin-right: 10px;
}

.sub-menu li:hover {
  cursor: pointer;
  background-color: beige;
}

.icon-menu {
  vertical-align: -3px !important;
  height: 15px !important;
  position: absolute !important;
  right: 0 !important;
  margin-top: 4px;
}